<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main:hash_url' %}">Generate</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main:check' %}">Check</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h3>{{url.url}}</h3>
            <h3>{{url.identifier}}</h3>
            <h3>{{url.counter}}</h3>
            <a href={{ url.url }}> Here is the site</a>
        </div>
    </div>
</body>
</html>